<p id="notice"><%= notice %></p>

<h1>Similar Artists like <%= @artist.name %></h1>
<% # @response %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Match</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist['name'] %></td>
        <td><%= artist['match'] %></td>
        <td><img src="<%= artist['image'][1]['#text'] %>", width="100" , height="100"></img></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>

<%= link_to 'Back', artists_path %>
